<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pictorial Translatorr</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}"> -->
</head>
<body>
    <div class="container" style="min-width:400px">
        <div class="navbar navbar-expand-lg navbar-dark bg-primary">
            <span class="navbar-brand mb-0 h1">BIG CHANGE IN UI</span>
        </div>
        <div class="mt-3">
            <p><b>Upload</b></p>
            <input id="file" type="file" name="file" accept="image/*"/>
            <button class="btn btn-primary" onclick="uploadAndTranslate()">Upload</button>
        </div>

        <div class="mt-3">
            <p><b>Image</b></p>
            <div id="view" class="card" style="display:none;">
                <div class="row no-gutters">
                    <div class="col-md-6">
                        <img id="image" class="img-fluid" /> 
                    </div>
                    <div class="col-md-6">
                        <div class="card-body">
                            <h5 class="card-title">Translated Text:</h5>
                            <div id="translations" class="card-text"></div>
                        </div>
                    </div>
                    <div class="col-md-6" id="audio_result" style="display: none">
                        <div class="card-body">
                            <h5 class="card-title">Translated Audio:</h5>
                            <audio id="audio_player" controls>
                                <source id="audio_source" src="" type="audio/mpeg">
                                Your browser does not support the audio element.
                            </audio>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    </div>
</body>
</html>
